* {
	margin:0px;
	padding:0px;
	border:0px;
	outline:0;
}
body {
	background-color: rgb(127, 255, 212);
}
.menu {
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    display: inline-block;
    padding: 5px 5px;
    font-family: Ubuntu;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}
.menu2 {
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 105, 180);
    color: black;
    display: inline-block;
    padding: 5px 5px;
    font-family: Ubuntu;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}
.header {
	height: 54px;
}
div.hd1 {
	height: 50px;
	background-color: rgb(0, 191, 255);
}
div.hdln {
	height: 2px;
	background-color: black;
}
.qn {
	font-family: Ubuntu;
	text-align: center;
}
.ctr {
	text-align: center;
}
.navg {
    text-align: center;
	margin-top: 10px;
}
.zakr {
      border-radius: 10px;
}
@font-face {
	font-family: Ubuntu;
	src: url(https://qnezor.github.io/files/fonts/Ubuntu.ttf);
} 
@font-face {
	font-family: PoiretOne;
	src: url(https://qnezor.github.io/files/fonts/PoiretOne.ttf);
} 
@font-face {
	font-family: OpenSans;
	src: url(https://qnezor.github.io/files/fonts/OpenSans.ttf);
} 
