* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0;
}

body {
	background-color: black;
}

img.csp {
	animation-duration: 4s;
	animation-name: repaint;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

mark.anim {
	animation-duration: 4s;
	animation-name: repaint1;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes repaint {
	0% {
		border: 4px yellow solid;
	}

	25% {
		border: 4px rgb(255, 0, 149) solid;
	}

	50% {
		border: 4px red solid;
	}

	75% {
		border: 4px rgb(0, 217, 255) solid;
	}

	100% {
		border: 4px rgb(132, 0, 255) solid;
	}
}

@keyframes repaint1 {
	0% {
		color: yellow; background-color: black;
	}

	25% {
		color: rgb(255, 0, 149); background-color: black;
	}

	50% {
		color: red; background-color: black;
	}

	75% {
		color: rgb(0, 217, 255); background-color: black;
	}

	100% {
		color: rgb(132, 0, 255); background-color: black;
	}
}

@font-face {
	font-family: 'Ubuntu';
	src: url(files/fonts/Ubuntu.ttf);
}