* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0;
}

body {
    background-color: #212121;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0;
}

body {
    background-color: #212121;
}

@media(min-width: 961px) {
    .card {
        background-color: #424242;
        border-radius: 10px;
        margin: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card_links {
        background-color: #424242;
        border-radius: 10px;
        margin: 10px 20px;
        width: 212px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainbody {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:960px) {

    .card {
        background-color: #424242;
        border-radius: 10px;
        margin: 10px 0px;
        width: 100%;
    }

    .card_links {
        background-color: #424242;
        border-radius: 10px;
        margin: 10px 0px;
        width: 100%;
    }

    .mainbody {
        margin: 0px 10px;
    }
}

.uncard {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.name {
    font-family: ubuntu;
    color: white;
    text-align: center;
    padding-top: 5px;
    margin: 0px 5px;
}

.card .open {
    text-align: center;
    margin: 0px 5px;
    margin-bottom: 3px;
}

.card .link {
    font-family: ubuntu;
    text-decoration: none;
    color: gold;
    transition: .5s;
}

.card_links .link {
    font-family: ubuntu;
    text-decoration: none;
    color: gold;
    transition: .5s;
}

.card_links .open {
    text-align: center;
    margin: 0px 5px;
    margin-bottom: 3px;
}

.card .link:hover {
    color: white;
}

.card_links .link:hover {
    color: white;
}


@font-face {
    font-family: 'Ubuntu';
    src: url(files/fonts/Ubuntu.ttf);
}

@font-face {
    font-family: 'PoiretOne';
    src: url(files/fonts/Poiretone.ttf);
}