* {
		margin: 0px;
		padding: 0px;
		border: 0px;
		outline: 0;
	}

	html,
	body {
		height: 100%;
		background-color: #1A1A1D;
		user-select: none;
	}

	a {
		color: rgb(36, 173, 219);
		text-decoration: none;
		font-size: 20px;
		transition: .7s;
		white-space: nowrap;
	}

  h4 {
    font-family: PixelifySans-Regular;
		margin: 10px 20px;
    color: rgb(36, 173, 219);
  }

	h3 {
		font-family: PixelifySans-Regular;
		margin: 10px 10px;
	}

	h2 {
		font-family: PixelifySans-Regular;
		color: white;
		margin: 10px 10px;
	}

	a:hover {
		color: #f467a2;
	}

	mark {
		background-color: rgba(255, 255, 255, 0);
		color: rgb(126, 185, 36);
	}

	@media screen and (orientation: landscape) {
		.links {
			display: flex;
			flex-direction: column;
			width: 50%;
		}
		.all {
			max-height: 75%;
		}
	}

	@media screen and (orientation: portrait) {
		.links {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		.all {
			max-width: 90%
		}
	}
