* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0;
}

html,
body {
    height: 100%;
    background-color: rgb(117, 0, 78);
    user-select: none;
}

a:hover {
    color: rgb(117, 0, 78);
}

a {
    color: white;
    font-family: pixelifysans-regular;
    transition: .5s;
    text-decoration: none;
    font-size: 120%;
}

@font-face {
    font-family: ml;
    src: url(font/mazeletter-path.ttf);
}

.background {
    z-index: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100vh;
    color: white;
    font-family: ml;
}

#background {
    transition: 1s;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    color: white;
    height: 300px;
    width: 300px;
}

.name {
    font-size: 200%;
    font-family: PixelifySans-Regular;
}